@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
    }

    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
    
}